<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IToDoManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://epbyminw0341/ToDoManagerService/TodoManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToDoManager"
                contract="UserService.IToDoManager" name="BasicHttpBinding_IToDoManager" />
        </client>
    </system.serviceModel>
</configuration>