form {
	text-align: center;
}

.fixedForm {
    top: 30px;
    right: 30px;
    position: fixed;
	background: #F5F5DC;
	border-radius: 7px;
}

#addTeamForm, #addTeamMemberForm, #addTaskForm, #addCommentForm {
    text-align: center;
	background: #F5F5DC;
	border-radius: 15px;
	width: 300px;
	padding: 10px;
    top: 36px;
}

#setReadinessForm {
    text-align: center;
    background: #CCCC99;
	border-radius: 15px;
	width: 300px;
	padding: 10px;
    top: 150px;
}

#addTaskWorkerForm {
    text-align: center;
    background: #EEEEEE;
	border-radius: 15px;
	width: 300px;
	padding: 10px;
    top: 150px;
}

.entry {
    padding-top:6px;
    padding-bottom:6px;
    padding-left:4px;
    padding-right:4px;
    border-radius: 7px;
    width: 500px;
	text-align: center;
	margin: auto;
    margin-top: 10px;
}

.teamEntry {
	background-color: #C0C0C0;
}

.taskEntry {
    background-color: #F8F8F8;
}

.userEntry {
    background-color: #FFFFCC;
}

.logOutForm {
     top: 210px;
}

#logOutTeams {
    top: 210px;
    right: 140px;
}

#logOutUsers {
    top: 170px;
    right: 140px;
}

#logOutTasks {
    top: 260px;
    right: 140px;
}

#logOutTaskDetails {
    top: 280px;
    right: 140px;
}

#logOutNoTeam {
    top: 28px;
    right: 36px;
}

#logOutForm {
    top: 28px;
    left: 36px;
    position: fixed;
}

#logOutbtn, #signUpBtn {
 background: #ADD8E6;
}

#logOutbtn:hover, #signUpBtn:hover {
	background: #3cb0fd;
}

/*.field-validation-error {
    background: #FFCC99;
	margin-bottom: -97px;

    padding-top:4px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
    border-radius: 7px;
    width: 500px;
	text-align: center;
	margin: auto;

	font-size: 20px;
	margin-top: 20px;

    color: black !important;
    font-weight: normal;
}*/

.authorization .validation-summary-errors {
    top: 20px;
    margin-left: -75px;
    width: 500px;
}

#setReadinessForm .validation-summary-errors {
    top: 110px;
    right: 5px;
    width: 300px;
}

#addTeamForm .validation-summary-errors {
    top: 200px;
    right: 5px;
    width: 300px;
}

#addUserForm .validation-summary-errors {
    top: 120px;
    right: 5px;
    width: 300px;
}

#addTaskForm .validation-summary-errors {
    top: 200px;
    right: 5px;
    width: 300px;
}

.validation-summary-errors {
    background: #FFCC99;
	margin-bottom: -97px;

    padding-top:4px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
    border-radius: 7px;   
	text-align: center;
	margin: auto;

	font-size: 18px;
	margin-top: 20px;

    color: black !important;
    font-weight: normal !important;

    position: absolute;
}

.centerLink {
    /*margin: 10px auto;
    width: 100px;*/
    margin-top: 10px;
    text-align:center
}

/*---------------------------------------*/

* {
	font-family:arial;
}

li {
    list-style-type: none;
}

ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0;
}

.field-validation-error {
    display: block;
}

a {
    text-decoration: none;
	color:#000000;
}

a:visited {
    text-decoration: none;
    color:#000000;
}

.taskContent {
    font-weight: bold;
}

.workerTaskEntry {
	background-color: #F8F8F8;
}

.managerTaskEntry {
	background-color:#FAFAD2;
    /*margin-top: 10px;*/
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

.commentsEntry {
    background-color: #FFFFCC;
}

.edit {
	width: 200px;
	text-align: center;
	margin: auto;
}

#createForm {
    top: 30px;
}



#signupForm {
    position: fixed;
    top: 370px;
    /*margin: auto;
    left: 0;
    right: 0;*/

    left: 50%;
    margin-left: -50px;
}

.addForm {
	padding: 10px;
}

.logoutFormAnswer {
    top: 160px;
    right: 92px;
}

.logoutFormQuestion {
    top: 200px;
    right: 92px;
}

.deleteForm {
	margin-top: 5px;
}

.btn {
	border: none;
	border-radius: 5px;
	font-family: Arial;
	font-size: 15px;
	padding: 4px 8px 4px 8px;
	text-decoration: none;
	height: 30px;
	width: 100px;
	text-align: center;
    padding: 5px;
}

.btn:hover {
	background: #3cb0fd;
}

.deleteBtn{
	background: #FF6600;
	width: 70px;
}

.editBtn{
	background: #CCCC66;
	width: 70px;
}

.saveBtn{
	background: #FFCC99;
	width: 70px;
	display: none;
}

/*#signupBtn {
 background: #ADD8E6;
}

#signupBtn:hover {
	background: #3cb0fd;
}*/

.textInput {
	padding: 5px 10px;	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	background: #fff;
	border-radius: 5px;
    width: 200px;	
	border: none;
}

.textInput:focus {
	outline: none;
}

#loginInput {
	margin-bottom: 10px;
}

.checkInput {
	margin-bottom: 10px;
	margin-left: -60px;
}

.authorization, .addCommentForm {
	text-align: center;
	background: #F5F5DC;
	border-radius: 15px;
	width: 350px;
	padding: 10px;
	margin: auto;
    margin-top: 200px;
}

.message {
	background: #F5F5DC;
	font-size: 20px;
	margin-top: 20px;
}

.good {
	background: #FFFFCC;
}

.bad {
	background: #FFCC99;	
}

#errorContainer {
	background: #FFCC99;
	margin-bottom: -51px;
}

#errorContainerAnswer {
	background: #FFCC99;
	margin-bottom: -51px;
	top: 200px;
    right: 33px;
	position: fixed;
	display: none;
	width: 210px;
}

#errorContainerQuestion {
	background: #FFCC99;
	margin-bottom: -51px;
	top: 250px;
    right: 33px;
	position: fixed;
	display: none;
	width: 210px;
}

.goBack {
	top: 30px;
    left: 30px;
    position: fixed;
}

.goHome {
	top: 30px;
    left: 30px;
    position: fixed;
}

.content {
	font-size: 20px;
}

.commentDate, .commentUser {
	color:#778899;
}

#wrongPswdContainer {
    background: #FFCC99;
	margin-bottom: -97px;
}

#errorContainer{
	display: none;
}

/*.validation-summary-errors li {
    list-style: none;
    color: black;
    font-weight: normal;
}

.validation-summary-errors ul {
    width: 70%;
    margin: auto;
}*/

/*-----------------------------*/

body {
    /*font-size: .85em;*/
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    color: black;
    background-color: white;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Custom styles
-----------------------------------------------------------*/
