@using TaskOperator.Entities.Enums
@using TaskOperator.Web.Controllers
@using TaskOperator.Web.Models.Tasks
@model IEnumerable<TaskModel>

@foreach (var task in Model)
{
    <div class="taskEntry entry">
        <span class="mng-taskId clipped">@task.Id</span>

        @{
            AjaxOptions getTaskOptions = TaskOperatorController.GetAjaxOptions("taskPlaceholder",
                Url.Action(TasksController.GetManagerTaskAction, TasksController.ControllerName, new { taskId = task.Id }), "dimBackground");
        }
        @Ajax.ActionLink(task.Name, null, null, getTaskOptions, new { @class = "mng-taskName clipped" })

        <span class="mng-taskState clipped">@(((TaskState)task.State).ToString())</span>

        @if (task.IsAssigned)
        {
            <span class="mng-taskWorker clipped">@task.Worker.Username</span>
        }
        else
        {
            <span class="mng-taskWorker clipped">No users!</span>
        }
    </div>
}

<div id="page-cover">
    <div id="taskPlaceholder"></div>
</div>

@{
    Html.RenderPartial("~/Views/Tasks/_AddTask.cshtml", new AddTaskModel());
}