<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="appDbName" value="TManager"/>
    <add key="testDbName" value=""/>
    <add key="initialDbBackupPath" value=""/>
    <add key="databaseVersionTable" value=""/>
    <add key="updateScriptsDirectory" value="..\Scripts"/>
    <add key="logFilePath" value="Automation.log"/>
  </appSettings>
  <connectionStrings>
    <add name="appDb" connectionString="Data Source=.\MSSQLSERVER2012;Initial Catalog=TManager;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
    <add name="testDb" connectionString=""/>
    <add name="masterDb" connectionString="Data Source=.\MSSQLSERVER2012;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>